<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="Scope Analyzer"
    Language="1033"
    Version="0.8.0"
    Manufacturer="Scope"
    UpgradeCode="{8C47D14B-9AA6-4F93-89C8-1B2D66B70B94}">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade
      AllowSameVersionUpgrades="yes"
      DowngradeErrorMessage="A newer version of Scope Analyzer is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="ScopeAnalyzerIcon" SourceFile="$(var.StageDir)\ScopeAnalyzer.ico" />
    <Property Id="ARPPRODUCTICON" Value="ScopeAnalyzerIcon" />

    <Feature Id="ProductFeature" Title="Scope Analyzer" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Scope Analyzer">
          <Directory Id="MESAFOLDER" Name="mesa" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Scope Analyzer" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="MainExecutable" Directory="INSTALLFOLDER" Guid="{C248E20C-A07A-459D-B1D7-6417673FBC4A}" Win64="yes">
        <File Id="ScopeAnalyzerExe" Source="$(var.StageDir)\ScopeAnalyzer.exe" KeyPath="yes">
          <Shortcut
            Id="StartMenuShortcut"
            Directory="ApplicationProgramsFolder"
            Name="Scope Analyzer"
            WorkingDirectory="INSTALLFOLDER"
            Icon="ScopeAnalyzerIcon"
            IconIndex="0"
            Advertise="yes" />
        </File>
      </Component>
      <Component Id="ReadmeFile" Directory="INSTALLFOLDER" Guid="{FDB844CE-DF49-43D7-85AB-AEFC68110067}" Win64="yes">
        <File Id="ReadmeTxt" Source="$(var.StageDir)\README.txt" KeyPath="yes" />
      </Component>
      <Component Id="StartScript" Directory="INSTALLFOLDER" Guid="{43437FD8-35E2-4B95-A555-B0FD2471E5C0}" Win64="yes">
        <File Id="StartScopeAnalyzerBat" Source="$(var.StageDir)\Start-ScopeAnalyzer.bat" KeyPath="yes" />
        <File Id="StartScopeAnalyzerMesaBat" Source="$(var.StageDir)\Start-ScopeAnalyzer-Mesa.bat" />
      </Component>
      <?if $(var.IncludeAngleRuntime) = "true" ?>
      <Component Id="AngleRuntimeDlls" Directory="INSTALLFOLDER" Guid="{C8DC6012-6B21-4D31-9B92-E68C3F8E1D19}" Win64="yes">
        <File Id="LibEglDllFile" Source="$(var.StageDir)\libEGL.dll" KeyPath="yes" />
        <File Id="LibGlesV2DllFile" Source="$(var.StageDir)\libGLESv2.dll" />
        <File Id="AngleRuntimeManifestFile" Source="$(var.StageDir)\angle-runtime-manifest.json" />
      </Component>
      <?endif?>
      <?if $(var.IncludeD3DCompiler) = "true" ?>
      <Component Id="D3DCompilerDll" Directory="INSTALLFOLDER" Guid="{3D3DF175-3B6C-4749-94E8-E0F8A635B001}" Win64="yes">
        <File Id="D3DCompiler47DllFile" Source="$(var.StageDir)\d3dcompiler_47.dll" KeyPath="yes" />
      </Component>
      <?endif?>
      <?if $(var.IncludeMesaRuntime) = "true" ?>
      <Component Id="MesaRuntimeFiles" Directory="MESAFOLDER" Guid="{F6E6D9F7-28F0-4EB5-94F5-B3641793CB89}" Win64="yes">
        <File Id="ScopeAnalyzerMesaExe" Source="$(var.StageDir)\mesa\ScopeAnalyzerMesa.exe" KeyPath="yes" />
        <File Id="ScopeAnalyzerMesaLocal" Source="$(var.StageDir)\mesa\ScopeAnalyzerMesa.exe.local" />
        <File Id="MesaOpenGl32Dll" Source="$(var.StageDir)\mesa\opengl32.dll" />
        <File Id="MesaLibGalliumWglDll" Source="$(var.StageDir)\mesa\libgallium_wgl.dll" />
        <File Id="MesaLibEglDll" Source="$(var.StageDir)\mesa\libEGL.dll" />
        <File Id="MesaLibGlesV2Dll" Source="$(var.StageDir)\mesa\libGLESv2.dll" />
        <File Id="MesaLibGlesV1Dll" Source="$(var.StageDir)\mesa\libGLESv1_CM.dll" />
        <?if $(var.IncludeLibUnwind) = "true" ?>
        <File Id="MesaLibUnwindDllFile" Source="$(var.StageDir)\mesa\libunwind.dll" />
        <?endif?>
      </Component>
      <?endif?>
      <?if $(var.IncludeLibUnwind) = "true" ?>
      <Component Id="LibUnwindDll" Directory="INSTALLFOLDER" Guid="{ACEE3B3E-514B-4BE0-A21D-3AC33B84D181}" Win64="yes">
        <File Id="LibUnwindDllFile" Source="$(var.StageDir)\libunwind.dll" KeyPath="yes" />
      </Component>
      <?endif?>
      <Component Id="ProgramMenuCleanup" Directory="ApplicationProgramsFolder" Guid="{4DB70962-7727-4CB3-AF1A-A5801ED467F1}" Win64="yes">
        <RemoveFolder Id="RemoveProgramMenuFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\ScopeAnalyzer" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
